
<div class="row flex-container">
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/ortgangziegel-artikel']">
        <img class="tile-image" src="https://tse4.mm.bing.net/th?id=OIP.I7KmiAxzsj8Xcr-ZN914aAHaHa&pid=Api&P=0&h=180" alt="Produktbild 1">
        <div class="tile-name">Schwingfenster</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/firstziegel-artikel']">
        <img class="tile-image" src="https://tse4.mm.bing.net/th?id=OIP.t9Ry8f1h-TD_nIojSqQDXgHaE6&pid=Api&P=0&h=180" alt="Produktbild 2">
        <div class="tile-name">Dachausstiegsfenster</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse3.mm.bing.net/th?id=OIP.MRD_evz2T9vl-qsF3cd-SwHaE8&pid=Api&P=0&h=180" alt="Produktbild 3">
        <div class="tile-name">Panoramafenster</div>
      </a>
    </div>
  </div>
</div>

<div class="row flex-container">
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse2.mm.bing.net/th?id=OIP.e8T3WAJ9GA44uc99CSY9vgHaFj&pid=Api&P=0&h=180" alt="Produktbild 1">
        <div class="tile-name">Schiebedachfenster</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse1.mm.bing.net/th?id=OIP.ZQe_bAARozIdmtp-hqza7AHaEK&pid=Api&P=0&h=180" alt="Produktbild 2">
        <div class="tile-name">Elektrisch betriebene Dachfenster</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse4.mm.bing.net/th?id=OIP.2B5tSIKk1EtNDBPLbRgDyAHaFR&pid=Api&P=0&h=180" alt="Produktbild 3">
        <div class="tile-name">Dachflächenfenster für Flachdach</div>
      </a>
    </div>
  </div>
</div>


