.price1 {
  color: red;
}

.dachboden{
  position: center;
  width: auto;
  height: auto;
  max-width: 500%;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 30px;
}

.text{
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.price{
  margin-top: 40px;
}

.text3{
  margin-top: -10px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
}
.price_bachBoden{
  margin-top: 10px;
}

:host ::ng-deep .p-button{
  font-size:20px;
  width: 260px;

}

.main-content {
  width: 50%;
}

.grid {
  display:flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: calc(2%);
  margin-bottom: 0px;
  margin-right: 2px;
  margin-left: -2000px;

  flex: 0 0 auto;
}
