.rub{
  font-weight: 1000;
  font-size: 60px;
  font-family: "Fira Sans", Arial, sans-serif;
  margin-top: 0;

}
img{
  width: 60px;
  height: 60px;
}
.sidecontent{
  position: absolute;
  right: 0;
  top: 10%;
  margin-right: 50px;
  width: 35%;
  z-index: 999;
}
.tp{
  margin-left: 38%;
}

.ort{
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: auto;
  margin-bottom: auto;


}

:host ::ng-deep .p-menubarsub{
    padding: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
    padding-left: 0%;
    width: 80%;
    margin-right: 80%;
}

.p-inputtext-lg {
  margin-left: 30px;
  width: 450px;
  height: 45px;
  margin-bottom: 0.5%;
  font-size: 21px;
}

.p-inputtext-lg3 {
  margin-left: 30px;
  width: 250px;
  height: 45px;
  margin-bottom: 0.5%;

}

.p-inputtext-lg2 {
  font-size: 18px;

}
.logIn{
  margin-right: 50px;
  margin-bottom: 0px;
}
.user{
  margin-right: 30px;
  margin-bottom: 0px;
}
.shopping{
  margin-right: 30px;
  margin-bottom: 0px;
}
.bel{
  margin-right: 0;
  padding-right: 0;
}
:host ::ng-deep .p-card-content{
    padding: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
    padding-left: 0%;
}

:host ::ng-deep .p-card-body{
    padding: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
    padding-left: 0%;
}
:host ::ng-deep .p-card-header{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .p-button .tender{
  margin-right: 3px;
  width: 10px;
}

.put{
  margin-top: -1000px;
}

.panel-header {
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  align-items: center;
}

.panel-header {
  text-align: center;
}

.header-text {
  margin-left: 110px;
  font-size: 20px;
}

.header-text1 {
  margin-left: 100px;
  font-size: 20px;
}

:host ::ng-deep .p-slider{
  max-width: 100px;
  margin-left: 1150px;
  margin-top: -25px;
}
.s{
  margin-left: 1260px;
  margin-top: -13px;
}

.aligne{
  position: absolute;
  right: 0;
  top: 1%;
  margin-right: 30px;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000; /* Z-Index anpassen, um sicherzustellen, dass das Dropdown-Menü über anderen Elementen liegt */
}

.p-dropdown {
  width: 100%; /* Die Breite des Dropdown-Menüs an das Suchfeld anpassen */
}

:host ::ng-deep .p-menubar .p-menuitem-text {
  font-size: 19px; /* Hier können Sie die gewünschte Schriftgröße angeben */
  margin-left: 5px;
}

