<div>
  <span class="p-input-icon-right">
    <strong class="rub">Rund um Baustoffe</strong>&nbsp;&nbsp;
    <i class="pi pi-search"></i>
    <input pInputText type="text" class="p-inputtext-lg" placeholder="Artikel, Baustoffhändler"
       [(ngModel)]="searchTerm" (input)="filterItems()" (keyup)="onSearchInput($event)" />

  </span>
  <span class="p-input-icon-right">
      <i class="pi pi-map-marker"></i>
      <input pInputText type="text" class="p-inputtext-lg2" placeholder="PLZ/Stadt"
      [(ngModel)]="searchTerm2" (input)="filterItems2()" (keyup.enter)="onEnterPressed()" style="width:auto"/>
  </span>
  &nbsp;
  <span>
    <label for="radiusSlider">Umkreis: <p-slider id="radiusSlider" [(ngModel)]="selectedRadius" (ngModelChange)="onRadiusChange()" [min]="0" [max]="50"></p-slider></label>
    <p class="s">{{ selectedRadius }} km</p>
  </span>

  <span class="aligne">
  <p-button class="logIn" label="Login/Registrierung"></p-button>
  <p-button class="user" icon="pi pi-user" [rounded]="true" severity="secondary"[outlined]="true"></p-button>
  <p-button class="shopping" icon="pi pi-shopping-cart" pBadge [value]="selectedQuantity" [rounded]="true" severity="secondary" [outlined]="true"></p-button>
  <p-button  class="bell" icon="pi pi-bell" [rounded]="true" severity="secondary" [outlined]="true"></p-button>&nbsp;&nbsp;&nbsp;&nbsp;
  </span>
</div>

<div class="menu">
  <p-menubar [model]="menus" [style]="{'max-width.px': 1300}"></p-menubar>
</div>

<div *ngIf="showAdvertising">
  <app-advertising></app-advertising>
</div>

<div class="sidecontent">
  <div class="grid tp" style="overflow-y: auto; max-height: 340px; max-width: 700px;">
    <p-panel>
      <ng-template pTemplate="header">
        <div class="panel-header">
          <div class="header-content">
            <!-- <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input pInputText type="text" class="p-inputtext-lg3" placeholder="Baustoffhändler"
              [(ngModel)]="searchTerm" (input)="filterItems()" (keyup)="onSearchInput($event)" />
            </span> -->
            <span class="header-text1">Baustoffhändler</span>
            <!-- <i class="pi pi-search" style="margin-left: 10px;"></i> -->
          </div>
        </div>
      </ng-template>
      <div class="grid">
        <div class="col-6" *ngFor="let item of filteredItems;">
          <p-card class="custom" [style]="{width: '150px', height: '110px'}" styleClass="shadow-2">
            <ng-template pTemplate="header">
                <img class="ort" alt="Card" src="{{item.logo}}">
            </ng-template>
            <p style="margin-top: 10px; padding-top: 0px; padding-bottom: 0; text-align: center;">{{item.adress}}</p>
          </p-card>
        </div>
      </div>
    </p-panel>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <!-- <div class="grid tp">
    <p-panel class="p-input-icon-right">
      <ng-template pTemplate="header">
        <div class="panel-header">
          <div class="header-content">
            <span class="header-text">Handwerker</span>
            <i class="pi pi-search" style="margin-left: 10px;"></i>
          </div>
        </div>
      </ng-template>
      <div class="grid">
        <div class="col-6" *ngFor="let handwerk of filteredHandwerker;">
          <p-card class="custom" [style]="{width: '150px', height: '110px'}" styleClass="shadow-2">
            <ng-template pTemplate="header">
                <img class="ort" alt="Card" src="{{handwerk.logo}}">
            </ng-template>
            <p style="margin-top: 10px; padding-top: 0px; padding-bottom: 0; text-align: center;">{{handwerk.adress}}</p>
          </p-card>
        </div>
      </div>
    </p-panel>

</div> -->

<div class="grid tp" style="overflow-y: auto; max-height: 340px; max-width: 700px; margin-top: 2%;"> <!-- Max. Höhe für Scroller festlegen -->
  <p-panel class="p-input-icon-right">
      <ng-template pTemplate="header">
          <div class="panel-header">
              <div class="header-content">
                <span class="p-input-icon-right">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" class="p-inputtext-lg3" placeholder="Handwerker"
                  [(ngModel)]="searchHandwerker" (input)="filterHandwerker()" (keyup)="handwerkerSearchInput($event)" />
                </span>
                  <!-- <span class="header-text">Handwerker</span>
                  <i class="pi pi-search" style="margin-left: 10px;"></i> -->
              </div>
          </div>
      </ng-template>
      <div class="grid">
          <div class="col-6" *ngFor="let handwerk of filteredHandwerker;">
              <p-card class="custom" [style]="{width: '150px', height: '110px'}" styleClass="shadow-2">
                  <ng-template pTemplate="header">
                      <img class="ort" alt="Card" src="{{ handwerk.logo }}">
                  </ng-template>
                  <p style="margin-top: 10px; padding-top: 0px; padding-bottom: 0; text-align: center;">{{ handwerk.adress }}</p>
              </p-card>
          </div>
      </div>
  </p-panel>
</div>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="grid tp">
  <p-button class="tender" label="Zur Ausschreibungsseite">
  </p-button>
</div>
</div>


