<div>
  <span class="p-input-icon-right">
    <strong class="rub">Rund um Baustoffe</strong>&nbsp;&nbsp;
    <i class="pi pi-search"></i>
      <input pInputText type="text" class="p-inputtext-lg" placeholder="Artikel, Baustoffe" />
  </span>

  <span class="p-input-icon-right">
      <i class="pi pi-map-marker"></i>
      <input pInputText type="text" class="p-inputtext-lg" placeholder="PLZ/Stadt" />
  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <p-button label="Login/Registrierung"></p-button>&nbsp;&nbsp;&nbsp;&nbsp;
  <p-button icon="pi pi-user" [rounded]="true" severity="secondary"[outlined]="true"></p-button>&nbsp;&nbsp;&nbsp;&nbsp;
  <p-button icon="pi pi-shopping-cart" [rounded]="true" severity="secondary" [outlined]="true"></p-button>&nbsp;&nbsp;&nbsp;&nbsp;
  <p-button icon="pi pi-bell" [rounded]="true" severity="secondary" [outlined]="true"></p-button>&nbsp;&nbsp;&nbsp;&nbsp;
</div>
