<h3>Dachstein-Modelle</h3>
<div class="row flex-container">
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/ortgangziegel-artikel']">
        <img class="tile-image" src="https://images.ctfassets.net/g371mt5z8v98/4yg5WzbVH12GN2qyTZDFNC/0af534b2904516acc5da9f27f48c966c/DF_Braas_Taunus-Pfanne_Granit.jpeg?w=446&h=446&q=50&fm=webp" alt="Produktbild 3">
        <div class="tile-name">Taunus Pfanne</div>
      </a>
    </div>
  </div>
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/ortgangziegel-artikel']">
        <img class="tile-image" src="https://images.ctfassets.net/g371mt5z8v98/7wP3udE1sZAofKCMx9oOLG/1c29b402fb013259682a3fde830ff0d4/DF_Braas_Tegalit_Aerlox_Granit.jpg?w=446&h=446&q=50&fm=webp" alt="Produktbild 1">
        <div class="tile-name">Tegalit Aerlox</div>
      </a>
    </div>
  </div>
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/firstziegel-artikel']">
        <img class="tile-image" src="https://images.ctfassets.net/g371mt5z8v98/25Y3DSkOkRvg4J2tHrfb4F/4f23c9b3bd0458a2ee1adc2d85232975/DeckflaecheFPKupferMatteps.jpeg?w=446&h=446&q=50&fm=webp" alt="Produktbild 2">
        <div class="tile-name">Frankfurter Pfanne</div>
      </a>
    </div>
  </div>
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://images.ctfassets.net/g371mt5z8v98/49h9k1W1m1DHd4T7IdZ8cc/d16a6536844a832990f03f99b5b01140/DF_Braas_Doppel-S_Tiefschwarz_Seidenmatt.jpeg?w=446&h=446&q=50&fm=webp" alt="Produktbild 3">
        <div class="tile-name">Doppel-S</div>
      </a>
    </div>
  </div>
</div>

<h3 class="dachziegel">Dachziegel-Modelle</h3>
<div class="row flex-container">
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://images.ctfassets.net/g371mt5z8v98/2dlOZmQkANKOYecdpUkRw7/6bb70bbbb308cf609e34ac609a114516/DF_Braas_Rubin_9V_Naturrot_ret.jpeg?w=446&h=446&q=50&fm=webp" alt="Produktbild 1">
        <div class="tile-name">Rubin – Flachdachziegel</div>
      </a>
    </div>
  </div>
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://images.ctfassets.net/g371mt5z8v98/5Xa20QsIZODhEGzNBNhsqi/103a4c3be3ef8c354489ae488175b26a/DF_Braas_Achat-14-Geradschnitt_Naturrot.jpeg?w=446&h=446&q=50&fm=webp" alt="Produktbild 2">
        <div class="tile-name">Achat – Hohlfalzziegel</div>
      </a>
    </div>
  </div>
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://images.ctfassets.net/g371mt5z8v98/7I64jA1r8MP5zFs4THIT43/1fc084b270f07f4b9c12fe5ab9fedfdd/DF_Braas_Granat-11V_Kastanie_ret.jpeg?w=446&h=446&q=50&fm=webp" alt="Produktbild 3">
        <div class="tile-name">Granat – Doppelmuldenfalzziegel</div>
      </a>
    </div>
  </div>
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://images.ctfassets.net/g371mt5z8v98/142CrqQcgDHV2IPlpMcLzD/17859f5c43972535820dfac4373e0040/Braas_Deckfla_che_Topas_13V_Card.jpeg?w=330&h=180&q=50&fm=webp" alt="Produktbild 3">
        <div class="tile-name">Topas – Reformziegel</div>
      </a>
    </div>
  </div>
</div>


