<h3>Dachstein-Modelle</h3>
<div class="row flex-container">
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/ortgangziegel-artikel']">
        <img class="tile-image" src="assets/images/DF_Braas_Taunus-Pfanne.jpg" alt="Produktbild 3">
        <div class="tile-name">Taunus Pfanne</div>
      </a>
    </div>
  </div>
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/ortgangziegel-artikel']">
        <img class="tile-image" src="assets/images/DF_Braas_Tegalit_Aerlox_Granit.jpg" alt="Produktbild 1">
        <div class="tile-name">Tegalit Aerlox</div>
      </a>
    </div>
  </div>
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/firstziegel-artikel']">
        <img class="tile-image" src="assets/images/DeckflaecheFPKupferMatteps.jpg" alt="Produktbild 2">
        <div class="tile-name">Frankfurter Pfanne</div>
      </a>
    </div>
  </div>
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="assets/images/DF_Braas_Doppel-S_Tiefschwarz_Seidenmatt.jpg" alt="Produktbild 3">
        <div class="tile-name">Doppel-S</div>
      </a>
    </div>
  </div>
</div>

<h3 class="dachziegel">Dachziegel-Modelle</h3>
<div class="row flex-container">
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="assets/images/DF_Braas_Rubin_9V_Naturrot_ret.jpg" alt="Produktbild 1">
        <div class="tile-name">Rubin – Flachdachziegel</div>
      </a>
    </div>
  </div>
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="assets/images/DF_Braas_Achat-14-Geradschnitt_Naturrot.jpg" alt="Produktbild 2">
        <div class="tile-name">Achat – Hohlfalzziegel</div>
      </a>
    </div>
  </div>
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="assets/images/DF_Braas_Granat-11V_Kastanie_ret.jpg" alt="Produktbild 3">
        <div class="tile-name">Granat – Doppelmuldenfalzziegel</div>
      </a>
    </div>
  </div>
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="assets/images/Braas_Deckfla_che_Topas_13V_Card.jpg" alt="Produktbild 3">
        <div class="tile-name">Topas – Reformziegel</div>
      </a>
    </div>
  </div>
</div>

<app-ortgangziegel-artikel></app-ortgangziegel-artikel>



