
<div class="row flex-container">
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/ortgangziegel-artikel']">
        <img class="tile-image" src="https://tse1.mm.bing.net/th?id=OIP.8L5nohk1IPRW_gLU3bc-MAAAAA&pid=Api&P=0&h=180" alt="Produktbild 1">
        <div class="tile-name">Dampfsperren</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/firstziegel-artikel']">
        <img class="tile-image" src="https://tse1.mm.bing.net/th?id=OIP.WoPhB59Df8RpsWctxBmGcgHaE7&pid=Api&P=0&h=180" alt="Produktbild 2">
        <div class="tile-name">Dachabdichtungsbahnen</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse1.mm.bing.net/th?id=OIP.fhy1m0Bz_FJm_17o94Z8iQHaE8&pid=Api&P=0&h=180" alt="Produktbild 3">
        <div class="tile-name">Bitumenbahnen</div>
      </a>
    </div>
  </div>
</div>

<div class="row flex-container">
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse4.mm.bing.net/th?id=OIP.qCpm4-D1UQbB-llFgGqb0AHaFj&pid=Api&P=0&h=180" alt="Produktbild 1">
        <div class="tile-name">Klebebahnen</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse4.mm.bing.net/th?id=OIP.AVQSMHHRO1Axjbmp5o1rXQHaG_&pid=Api&P=0&h=180" alt="Produktbild 2">
        <div class="tile-name">Brandschutzbahnen</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse2.mm.bing.net/th?id=OIP.yeuWhlWpd6OWoRCsxpdhOAHaFF&pid=Api&P=0&h=180" alt="Produktbild 3">
        <div class="tile-name">Glasvlies-verstärkte Bahnen</div>
      </a>
    </div>
  </div>
</div>


