<div class="pub">
  <div class="grid">
    <div class="grid">
      <div class="col  ml-2">
        <p-card [style]="{width: '300px'}" styleClass="shadow-2">
          <ng-template pTemplate="header">
            <img class="img" alt="Card" src="https://tse2.mm.bing.net/th?id=OIP.W2TlR2Ct8aLSLbBwddZGYwHaFj&pid=Api&P=0&h=180">
            <img alt="Card" class="product_image" src="https://tse1.mm.bing.net/th?id=OIP.DuW0w7YTp2yiHOpCSU3vwwHaFG&pid=Api&P=0&h=180">
          </ng-template>
          <p>
            Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 10% Rabatt auf die <strong style="font-size:13px;">Dachziegeln</strong> von <strong>Raab Karcher</strong>.
          </p>
          <p>
            <strong class="price1">€9,00</strong>&nbsp; <s>10,00 €</s>
          </p>
        </p-card>
      </div>
      <div class="col">
        <p-card [style]="{width: '300px'}" styleClass="shadow-2">
          <ng-template pTemplate="header">
            <img class="mg" alt="Card" src="https://tse3.mm.bing.net/th?id=OIP.TLcIK3Hq9aGFBn6Hoo0EZwHaHa&pid=Api&P=0&h=180">
            <img alt="Card" class="product_image" src="https://tse4.mm.bing.net/th?id=OIP.JQEM3dUdVIlcMsgiPMM5sgHaFj&pid=Api&P=0&h=180">
          </ng-template>
          <p>
            Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 30% Rabatt auf unseren <strong style="font-size:13px;">Vollsickerrohr 2,5m</strong> von <strong>WEGO</strong>.
          </p>
          <p>
            <strong class="price1">€7,00</strong>&nbsp; <s>10,00 €</s>
          </p>
        </p-card>
      </div>
    </div>

</div>
&nbsp;&nbsp;&nbsp;&nbsp;

<div class="grid">
  <div class="grid">
    <div class="col ml-2">
      <p-card [style]="{width: '300px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <img class="img" alt="Card" src="https://tse1.mm.bing.net/th?id=OIP.LOO6vUzm6ZjDpRMi4vdqDAHaHa&pid=Api&P=0&h=180">
          <img alt="Card" class="product_image" src="https://tse3.mm.bing.net/th?id=OIP.T4BGdJCHL1gKY0dGLDxwFwHaGy&pid=Api&P=0&h=180">
        </ng-template>
        <p>
          Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 10% Rabatt auf den <strong style="font-size:13px;">Dachrinnenschutz</strong> von <strong>Breco</strong>.
        </p>
        <p>
          <strong class="price1">€15,99</strong>&nbsp; <s>16,99 €</s>
        </p>
      </p-card>
    </div>
    <div class="col">
      <p-card [style]="{width: '300px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <img class="mg" alt="Card" src="https://tse4.mm.bing.net/th?id=OIP.D6uYAcsCLVhULXLgHnxKUAAAAA&pid=Api&P=0&h=180">
          <img alt="Card" class="product_image" src="https://tse2.mm.bing.net/th?id=OIP.GN9dxM3unCQJKONcS0EehQHaEo&pid=Api&P=0&h=180">
        </ng-template>
        <p>
          Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 20% Rabatt auf <strong style="font-size:13px;">Caparol Indekogeo-5L</strong> von <strong>Hubing</strong>.
        </p>
        <p>
          <strong class="price1">€103,92</strong>&nbsp; <s>129,90 €</s>
        </p>
      </p-card>
    </div>
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;

<div class="grid">
  <div class="grid">
    <div class="col ml-2">
      <p-card [style]="{width: '300px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <img class="mg" alt="Card" src=" https://tse4.mm.bing.net/th?id=OIP.vvK81jS0EpK7l-L6lG1ezgHaDQ&pid=Api&P=0&h=180">
          <img alt="Card" class="product_image" src="https://tse2.mm.bing.net/th?id=OIP.v-j9EgAxtOOhBTYC9R3nQAHaHa&pid=Api&P=0&h=180">
        </ng-template>
        <p>
          Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 50% Rabatt auf unseren <strong style="font-size:13px;">Drainagerohr 10</strong> von <strong>Beinbrech</strong>.
        </p>
        <p>
          <strong class="price1">€35,00</strong>&nbsp; <s>70,00 €</s>
        </p>
      </p-card>
    </div>
      <div class="col">
      <p-card [style]="{width: '300px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <img class="mg" alt="Card" src="https://tse1.mm.bing.net/th?id=OIP.Y-BLlW3H7psHpMGHuGQ1jwHaIG&pid=Api&P=0&h=180">
          <img alt="Card" class="product_image" src="https://tse3.mm.bing.net/th?id=OIP.n6Z-LqD2BHgwOxuypos25AHaFP&pid=Api&P=0&h=180">
        </ng-template>
        <p>
          Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 15% Rabatt auf <strong style="font-size:13px;">Flaechenspachtel</strong> von <strong>Karnel</strong>.
        </p>
        <p>
          <strong class="price1">€16,10</strong>&nbsp; <s>18,95 €</s>
        </p>
      </p-card>
    </div>
  </div>
</div>
</div>


