<div class="pub">
  <div class="grid">
    <div class="grid">
      <div class="col  ml-2 mt-4">
        <p-card [style]="{width: '300px', height: '380px'}">
          <ng-template pTemplate="header">
            <img class="mg" alt="Card" src="https://tse2.mm.bing.net/th?id=OIP.W2TlR2Ct8aLSLbBwddZGYwHaFj&pid=Api&P=0&h=180">
            <img alt="Card" class="product_image" src="https://tse1.mm.bing.net/th?id=OIP.DuW0w7YTp2yiHOpCSU3vwwHaFG&pid=Api&P=0&h=180">
          </ng-template>
          <div class="text">
            <p>
              Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 10% Rabatt auf die <strong style="font-size:13px;">Dachziegeln</strong> von <strong>Raab Karcher</strong>.
            </p>
            <p>
              <strong class="price1">€9,00</strong>&nbsp; <s>10,00 €</s>
            </p>
          </div>
        </p-card>
      </div>

      <div class="col mt-4">
        <p-card [style]="{width: '300px', height: '380px'}" styleClass="shadow-2">
          <ng-template pTemplate="header">
            <img class="mg" alt="Card" src="https://tse3.mm.bing.net/th?id=OIP.TLcIK3Hq9aGFBn6Hoo0EZwHaHa&pid=Api&P=0&h=180">
            <img alt="Card" class="product_image" src="https://tse4.mm.bing.net/th?id=OIP.JQEM3dUdVIlcMsgiPMM5sgHaFj&pid=Api&P=0&h=180">
          </ng-template>
          <div class="text">
            <p>
              Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 30% Rabatt auf <strong style="font-size:13px;">Vollsickerrohr 2,5m</strong> von <strong>Köbig</strong>.
            </p>
            <p>
              <strong class="price1">€7,00</strong>&nbsp; <s>10,00 €</s>
            </p>
          </div>
        </p-card>
      </div>
      <div class="col mt-4">
        <p-card [style]="{width: '300px', height: '380px'}" styleClass="shadow-2">
          <ng-template pTemplate="header">
            <img class="mg" alt="Card" src=" https://tse4.mm.bing.net/th?id=OIP.vvK81jS0EpK7l-L6lG1ezgHaDQ&pid=Api&P=0&h=180">
            <img alt="Card" class="product_image" src="https://tse2.mm.bing.net/th?id=OIP.v-j9EgAxtOOhBTYC9R3nQAHaHa&pid=Api&P=0&h=180">
          </ng-template>
          <div class="text">
            <p>
              Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 50% Rabatt auf  <strong style="font-size:13px;">Drainagerohr 10</strong> von <strong>Beinbrech</strong>.
            </p>
            <p>
              <strong class="price1">€35,00</strong>&nbsp; <s>70,00 €</s>
            </p>
          </div>
        </p-card>
      </div>

      <div class="col mt-4">
        <p-card [style]="{width: '300px', height: '380px'}" styleClass="shadow-2">
          <ng-template pTemplate="header">
            <img class="mg" alt="Card" src="https://tse1.mm.bing.net/th?id=OIP.Y-BLlW3H7psHpMGHuGQ1jwHaIG&pid=Api&P=0&h=180">
            <img alt="Card" class="product_image" src="https://store.bmigroup.com/medias/Product-Hero-Small-Desktop-Tablet-23-Luminex-Klassik-plus-03-20.jpg?context=bWFzdGVyfHJvb3R8MTE5ODI5fGltYWdlL2pwZWd8YUdRNEwyZzBaQzg1TURRME5UWTBPRFk1TVRVd0wxQnliMlIxWTNRdFNHVnlieTFUYldGc2JDMUVaWE5yZEc5d0xWUmhZbXhsZEY4eU0xOU1kVzFwYm1WNExVdHNZWE56YVdzdGNHeDFjMTh3TXkweU1DNXFjR2N8ZjY5M2FiOWU4ZDQyMmRkNGYyZTZjMDBmYTFjM2RhN2RlODhjOWY5OWNmZGU2MTA0NzFhYTFhZWM4MDdjMGEzNA">
          </ng-template>
          <div class="text">
            <p>
              Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 15% Rabatt auf  <strong style="font-size:13px;">Luminex Klassik Plus</strong> von <strong>Köbig</strong>.
            </p>
            <p>
              <strong class="price1">€168,3</strong>&nbsp; <s>198,00 €</s>
            </p>
          </div>
        </p-card>
      </div>
    </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;

<div class="grid">
  <div class="grid">
    <div class="col ml-2">
      <p-card [style]="{width: '300px', height: '380px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <div class="mg" >
            <img alt="Card" src="https://tse1.mm.bing.net/th?id=OIP.LOO6vUzm6ZjDpRMi4vdqDAHaHa&pid=Api&P=0&h=180">
          </div>
          <img alt="Card" class="product_image" src="https://tse3.mm.bing.net/th?id=OIP.T4BGdJCHL1gKY0dGLDxwFwHaGy&pid=Api&P=0&h=180">
        </ng-template>
      <div class="text">
        <p>
          Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 10% Rabatt auf den <strong style="font-size:13px;">Dachrinnenschutz</strong> von <strong>Köbig</strong>.
        </p>
        <p>
          <strong class="price1">€15,99</strong>&nbsp; <s>16,99 €</s>
        </p>
      </div>
      </p-card>
    </div>
    <div class="col">
      <p-card [style]="{width: '300px', height: '380px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <img class="mg" alt="Card" src="https://tse4.mm.bing.net/th?id=OIP.D6uYAcsCLVhULXLgHnxKUAAAAA&pid=Api&P=0&h=180">
          <img alt="Card" class="product_image" src="https://tse2.mm.bing.net/th?id=OIP.GN9dxM3unCQJKONcS0EehQHaEo&pid=Api&P=0&h=180">
        </ng-template>
        <div class="text">
          <p>
            Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 20% Rabatt auf <strong style="font-size:13px;">Caparol Indeko-5L</strong> von <strong>Beinbrech</strong>.
          </p>
          <p>
            <strong class="price1">€103,92</strong>&nbsp; <s>129,90 €</s>
          </p>
        </div>
      </p-card>
    </div>
    <div class="col">
      <p-card [style]="{width: '300px', height: '380px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <img class="mg" alt="Card" src="https://tse1.mm.bing.net/th?id=OIP.Y-BLlW3H7psHpMGHuGQ1jwHaIG&pid=Api&P=0&h=180">
          <img alt="Card" class="product_image" src="https://tse3.mm.bing.net/th?id=OIP.n6Z-LqD2BHgwOxuypos25AHaFP&pid=Api&P=0&h=180">
        </ng-template>
        <div class="text">
          <p>
            Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 15% Rabatt auf <strong style="font-size:13px;">Flaechenspachtel</strong> von <strong>Raab Karcher</strong>.
          </p>
          <p>
            <strong class="price1">€16,10</strong>&nbsp; <s>18,95 €</s>
          </p>
        </div>
      </p-card>
    </div>

    <div class="col">
      <p-card [style]="{width: '300px', height: '380px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <img class="mg" alt="Card" src="https://tse4.mm.bing.net/th?id=OIP.vvK81jS0EpK7l-L6lG1ezgHaDQ&pid=Api&P=0&h=180">
          <img alt="Card" class="product_image" src="https://cdn.idealo.com/folder/Product/201815/4/201815458/s1_produktbild_mittelgross/velux-glu-0051.jpg">
        </ng-template>
        <div class="text">
          <p>
            Profitieren Sie von unserem exklusiven Angebot und erhalten Sie 50% Rabatt auf <strong style="font-size:13px;">Velux GLU 0051</strong> von <strong>Union Baustoff</strong>.
          </p>
          <p>
            <strong class="price1">€314,95</strong>&nbsp; <s>629,90 €</s>
          </p>
        </div>
      </p-card>
    </div>
  </div>
</div>
</div>


