
 <div class="row flex-container">
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse3.mm.bing.net/th?id=OIP.oXtU0lDjJv3R6It-k0q90gHaE7&pid=Api&P=0&h=180" alt="Produktbild 1">
        <div class="tile-name">Dach Dämmung</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/ziegel']">
        <img class="tile-image" src="https://tse4.mm.bing.net/th?id=OIP.i5Ys2d9f75jjr9s_bvRzngHaE8&pid=Api&P=0&h=180" alt="Produktbild 2">
        <div class="tile-name">Ziegel</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachbahnen']">
        <img class="tile-image" src="https://tse3.mm.bing.net/th?id=OIP.lcnWvu-YvdUFA4nw1WxQlwHaE8&pid=Api&P=0&h=180">
        <div class="tile-name">Dachbahnen</div>
      </a>
    </div>
  </div>
</div>

<div class="row flex-container">
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachfenster']">
        <img class="tile-image" src="https://tse1.mm.bing.net/th?id=OIP.vCx70eeqEtN_TSwgcm2siAHaE7&pid=Api&P=0&h=180">
        <div class="tile-name">Dachfenster</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/schiefer']">
        <img class="tile-image" src="https://tse1.mm.bing.net/th?id=OIP.uNFPU3UtlH21Wh65fPTTxgHaFG&pid=Api&P=0&h=180">
        <div class="tile-name">Schiefer</div>
      </a>
    </div>
  </div>
</div>
