
 <div class="row flex-container">
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/ziegel']">
        <img class="tile-image" src="assets/images/dachziegel.jpg" alt="Produktbild 2">
        <div class="tile-name">Dachziegel/ -steine</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="assets/images/dachdämmung.jpg" alt="Produktbild 1">
        <div class="tile-name">Dachdämmung</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachbahnen']">
        <img class="tile-image" src="assets/images/Unterspannbahnen.jpg">
        <div class="tile-name">Unterspannbahnen</div>
      </a>
    </div>
  </div>
</div>

<div class="row flex-container">
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachfenster']">
        <img class="tile-image" src="assets/images/dachfenster.jpg">
        <div class="tile-name">Dachfenster</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/schiefer']">
        <img class="tile-image" src="assets/images/Schiefer.jpg">
        <div class="tile-name">Schiefer</div>
      </a>
    </div>
  </div>
</div>
