<header></header>
<body>
  <div class="topnav">
    <form>
       <h1>Rund um Baustoffe</h1>&nbsp;&nbsp;
       <mat-form-field appearance="outline">
        <mat-label>Artikel, Baustoffe</mat-label>
        <input matInput>
        <button matSuffix mat-icon-button disable="true"><mat-icon>search</mat-icon></button>
       </mat-form-field>&nbsp;&nbsp;

       <mat-form-field appearance="outline">
        <mat-label>PLZ, Stadt</mat-label>
        <input matInput>
        <button matSuffix mat-icon-button disable="true"><mat-icon>place</mat-icon></button>
       </mat-form-field>&nbsp;&nbsp;
       <button mat-raised-button>Login/Registrierung</button>&nbsp;&nbsp;
       <button matSuffix mat-icon-button disable="true"><mat-icon>account_circle</mat-icon></button>
       <button matSuffix mat-icon-button disable="true"><mat-icon>add_shopping_cart</mat-icon></button>
       <button matSuffix mat-icon-button disable="true"><mat-icon>notifications_none</mat-icon></button>


    </form>


    <h1>Rund um Baustoffe
      <input class="search" type="text" placeholder="Artikel, Baustoffe">
      <button type="submit"><i class="fa fa-search" aria-hidden="true"></i>
      </button>
     
  <!-- <div><i class="fa-solid fa-magnifying-glass"></i></div> -->
      
  </h1>



  </div> 
    <nav>
      <div>
      <a href="#">Dach</a>
      <a href="#">Fassade</a>
      <a href="#">Innenausbau</a>
      <a href="#">Fliesen</a>
      <a href="#">Rohbau</a>
      <a href="#">Keller</a>
      <a href="#">Außenbereich</a>
      <a href="#">Sanitär</a>
      <a href="#">Wellnes</a>
      </div>
    </nav>
    <aside>
    <h3>Baustoffhändler</h3>
    <table style="width:50%">
    <tr>
      <td>
        <img src="" />
        <p><strong>Raab Karcher</strong></p>
        <p>Merkurstraße 39, 67663 Kaiserslautern</p>
      </td>
    </tr>
    <tr>
      <td>
        <img src="" />
        <p><strong>Hubing GmbH</strong></p>
        <p>Hauptstr. 14, 67697 Otterberg</p>
      </td>
    </tr>
</table>
    </aside>
</body>
<footer></footer>
