

<div class="main-content">
  <div class="pub">
    <div class="grid">
      <div class="grid">
        <div class="col ml-2 mt-4">
          <p-card [style]="{width: '300px', height: '420px'}">
            <ng-template pTemplate="header">
              <img alt="Card" class="dachboden" src="https://www.baustoffshop.de/pub/media/catalog/product/k/n/knaufinsulation_ki-rmw-kp-035-hb_print.jpg">
            </ng-template>
            <div class="text">
              <h3>Dachboden-Dämmplatte- 1200x625 mm</h3>
              <p class="price">
                <strong class="price1">ab 15,97 €</strong>&nbsp; | Qm
              </p>
            </div>
            <p-button severity="info" label="ANGEBOT ANZEIGEN">
            </p-button>
          </p-card>
        </div>

        <div class="col mt-4">
          <p-card [style]="{width: '300px', height: '420px'}" styleClass="shadow-2">
            <ng-template pTemplate="header">
              <img alt="Card" class="product_image" src="https://www.baustoffshop.de/pub/media/catalog/product/i/s/isover_topdec_14109_topdec_loft_7.jpg">
            </ng-template>
            <div class="text2">
              <h3>Dachboden Steinwoll-Dämmplatte- 1200 x 625 mm </h3>
              <p>
                <strong class="price1">19,84 €</strong>&nbsp; | Qm
              </p>
            </div>
            <p-button severity="info" label="ANGEBOT ANZEIGEN">
            </p-button>
          </p-card>
        </div>
        <div class="col mt-4">
          <p-card [style]="{width: '300px', height: '420px'}" styleClass="shadow-2">
            <ng-template pTemplate="header">
              <img alt="Card" class="product_image" src="https://www.baustoffshop.de/pub/media/catalog/product/s/u/superglass_sg_topdec-loft_100er.jpg">
            </ng-template>
            <div class="text3">
              <h3>Superglass Dachbodendämmplatte- 1200x625 mm</h3>
              <p>
                <strong class="price1">22,44 €</strong>&nbsp; | Qm
              </p>
            </div>
            <p-button severity="info" label="ANGEBOT ANZEIGEN">
            </p-button>
          </p-card>
        </div>
      </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;

  <div class="grid">
    <div class="grid">
      <div class="col ml-2">
        <p-card [style]="{width: '300px', height: '420px'}" styleClass="shadow-2">
          <ng-template pTemplate="header">
            <img alt="Card" class="product_image" src="https://www.baustoffshop.de/pub/media/catalog/product/b/a/bachl_eps-boden-daemmplatte_ausschnitt.jpg">
          </ng-template>
        <div class="text3">
          <h3 class="price_bachBoden">Bachl Boden-Dämmplatte 1210x610 mm</h3>
              <p>
                <strong class="price1">45,27 €</strong>&nbsp; | Qm
              </p>
        </div>
        <p-button severity="info" label="ANGEBOT ANZEIGEN">
        </p-button>
        </p-card>
      </div>
      <div class="col">
        <p-card [style]="{width: '300px', height: '420px'}" styleClass="shadow-2">
          <ng-template pTemplate="header">
            <img alt="Card" class="product_image_r" src="https://www.baustoffshop.de/pub/media/catalog/product/r/o/rockwool_rockwool-daemmfilz-varirock-035-01.jpg">
          </ng-template>
          <div class="text">
            <h3 class="price_rock">Rockwool Varirock 035 Dämmfilz, 1000 mm</h3>
              <p>
                <strong class="price1">6,99 €</strong>&nbsp; | Qm
              </p>
          </div>
          <p-button severity="info" label="ANGEBOT ANZEIGEN">
          </p-button>
        </p-card>
      </div>
      <div class="col">
        <p-card [style]="{width: '300px', height: '420px'}" styleClass="shadow-2">
          <ng-template pTemplate="header">
            <img alt="Card" class="product_image_r" src="https://www.baustoffshop.de/pub/media/catalog/product/r/o/rockwool_tegarock-l-rockwool-platten.jpg">
          </ng-template>
          <div class="text">
            <h3 class="price_rock2">Rockwool Dämmplatte Tegarock, 1000x600 mm</h3>
              <p>
                <strong class="price1">16,20 €</strong>&nbsp; | Qm
              </p>
          </div>
          <p-button severity="info" label="ANGEBOT ANZEIGEN">
          </p-button>
        </p-card>
      </div>
    </div>
  </div>
  </div>

  <!-- <div class="sidecontent">
    <div class="grid tp">
      <p-panel header="Filter">
        <div class="grid">
          <div class="col-6 mr-0 ">
            <p-card [style]="{width: '200px', height: '255px'}" styleClass="shadow-2">
              <ng-template pTemplate="header">
              </ng-template>
              <p><strong>sddf</strong></p>
              <p>ddf</p>
              <p>ddfff</p>
            </p-card>
          </div>
        </div>
      </p-panel>
  </div>
  </div> -->
</div>

