<div class="pub">
  <div class="grid">
    <div class="grid">
      <div class="col  ml-2 mt-4">
        <p-card [style]="{width: '300px', height: '420px'}">
          <ng-template pTemplate="header">
            <img alt="Card" class="dachboden" src="https://www.baustoffshop.de/pub/media/catalog/product/l/i/linitherm_3212938-3212945_linitherm_pal-n-f-platte_produktbild.jpg">
          </ng-template>
          <div class="text2">
            <h3>LINITHERM PAL N+F Dämmplatte - 2420 x 1000 mm</h3>
            <p class="price">
              <strong class="price1">ab 32,96 €</strong>&nbsp; | Qm
            </p>
          </div>
          <p-button severity="info" label="ANGEBOT ANZEIGEN">
          </p-button>
        </p-card>
      </div>

      <div class="col mt-4">
        <p-card [style]="{width: '300px', height: '420px'}" styleClass="shadow-2">
          <ng-template pTemplate="header">
            <img alt="Card" class="product_image_steil" src="https://www.baustoffshop.de/pub/media/catalog/product/m/u/multipor_multipor_2739.jpg">
          </ng-template>
          <div class="text2">
            <h3>Mineraldämmplatte DAD Steildachdämmung | 600x390 mm</h3>
            <p>
              <strong class="price1">ab 55,44 €</strong>&nbsp; | Qm
            </p>
          </div>
          <p-button severity="info" label="ANGEBOT ANZEIGEN">
          </p-button>
        </p-card>
      </div>
      <div class="col mt-4">
        <p-card [style]="{width: '300px', height: '420px'}" styleClass="shadow-2">
          <ng-template pTemplate="header">
            <img alt="Card" class="product_image" src="https://www.baustoffshop.de/pub/media/catalog/product/b/a/bauder_pir-mde_1_.jpg">
          </ng-template>
          <div class="text3">
            <h3 class="steildach">Steildachwärmedämm WLS 023 - Nut & Feder</h3>
            <p class="steildach_price">
              <strong class="price1"> ab 22,44 €</strong>&nbsp; | Qm
            </p>
          </div>
          <p-button severity="info" label="ANGEBOT ANZEIGEN">
          </p-button>
        </p-card>
      </div>
    </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;

<div class="grid">
  <div class="grid">
    <div class="col ml-2">
      <p-card [style]="{width: '300px', height: '420px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <img alt="Card" class="product_image" src="https://www.baustoffshop.de/pub/media/catalog/product/s/i/siga_siga_majpell_5_dampfbremse_-_1-5x50_m.jpg">
        </ng-template>
      <div class="text3">
        <h3 class="siga">SIGA Majpell 5 Dampfbremse -20m Rolle</h3>
            <p>
              <strong class="price1">ab 86,20 €</strong>&nbsp; | Roll
            </p>
      </div>
      <p-button severity="info" label="ANGEBOT ANZEIGEN">
      </p-button>
      </p-card>
    </div>
    <div class="col">
      <p-card [style]="{width: '300px', height: '420px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <img alt="Card" class="product_image_r" src="https://www.baustoffshop.de/pub/media/catalog/product/s/u/superglass_sd_kf3v-035_50er.jpg">
        </ng-template>
        <div class="text">
          <h3 class="superglass">Superglass Untersparren-Klemmfilz 5000 x 1250 x 50 mm</h3>
            <p>
              <strong class="price1">ab 14,03 €</strong>&nbsp; | Qm
            </p>
        </div>
        <p-button severity="info" label="ANGEBOT ANZEIGEN">
        </p-button>
      </p-card>
    </div>
    <div class="col">
      <p-card [style]="{width: '300px', height: '420px'}" styleClass="shadow-2">
        <ng-template pTemplate="header">
          <img alt="Card" class="product_image_t" src="https://www.baustoffshop.de/pub/media/catalog/product/t/h/thermo-hanf_thermo-hanf-combi-jute-01.jpg">
        </ng-template>
        <div class="text">
          <h3 class="price_rock2">THERMO HANF Combi Jute Dämmplatte 1200x840 mm Klemmfilz - </h3>
            <p>
              <strong class="price1">ab 12,35 €</strong>&nbsp; | Qm
            </p>
        </div>
        <p-button severity="info" label="ANGEBOT ANZEIGEN">
        </p-button>
      </p-card>
    </div>
  </div>
</div>
</div>
