<div class="sidecontent">
  <div class="grid tp">
    <p-panel header="Baustoffhändler">
      <div class="grid">
        <div class="col-6 mr-0 " *ngFor="let item of items;">
          <p-card [style]="{width: '200px', height: '255px'}" styleClass="shadow-2">
            <ng-template pTemplate="header">
                <img alt="Card" src="{{item.logo}}">
            </ng-template>
            <p><strong>{{item.name}}</strong></p>
            <p>{{item.adress}}</p>
            <p>{{item.tel}}</p>
          </p-card>
        </div>
      </div>
    </p-panel>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="grid tp">
    <p-panel header="Handwerker">
      <div class="grid">
        <div class="col-6 mr-0 " *ngFor="let handwerk of handwerker;">
          <p-card [style]="{width: '200px', height: '255px'}" styleClass="shadow-2">
            <ng-template pTemplate="header">
                <img alt="Card" src="{{handwerk.logo}}">
            </ng-template>
            <p><strong>{{handwerk.name}}</strong></p>
            <p>{{handwerk.adress}}</p>
            <p>{{handwerk.tel}}</p>
          </p-card>
        </div>
      </div>
    </p-panel>

</div>
</div>
<p-toast></p-toast>
