.imgage2{
  width: 25%;

}

:host ::ng-deep .p-card {
  justify-content: center;
  align-items: center;
}

.image_color{
  font-size: 150%;
}

.product_name{
  font-size: 200%;
}

.menge{
  font-size: 150%;
}

#quantity{
  width: 13%;
  margin-left: 2%;
  height: 50px;
}

:host ::ng-deep .ide .p-button{
  font-size:20px;
  width: 203px;
  margin-left: 10%;
  padding-right: 5%;
  background-color: #8f61da;

}

:host ::ng-deep .zurück .p-button{
  font-size:20px;
  width: 150px;
  margin-left: 0%;
  background-color:#c4bce4;
  padding-left: 5%;
  margin-top: 2%;

}

a{
  text-decoration: none;
  font-size: 180%;
}

.product_info{
  margin-top: 6%;
}

#product_description{
  font-size: 130%;
}

.garantie{
  margin-top: 3%;
  font-size: 130%;
}

.yp{
  margin-left: 1%;
  width: 7%;
}

.py{
  width: 7%;
}

/* .product-container {
  position: relative;
  max-width: fit-content;
} */

.image1 {
  width: 200px; /* Breite des Bildes anpassen */
  height: 244px;
  margin-top: -30px;
  margin-bottom: 2%;
}

.price {
  position: relative;
  right: -350px; /* Am rechten Rand positionieren */
  color: red;
  font-size: 190%;
  bottom: 45px;
}

