
<div class="row flex-container">
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/ortgangziegel-artikel']">
        <img class="tile-image" src="https://tse1.mm.bing.net/th?id=OIP.beNsnFgwt_LrU87Yoq8wKQHaFF&pid=Api&P=0&h=180" alt="Produktbild 1">
        <div class="tile-name">Dachschindeln aus Schiefer</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/firstziegel-artikel']">
        <img class="tile-image" src="https://tse4.mm.bing.net/th?id=OIP.2Q2POX_92iEspLF5vpNERAHaEK&pid=Api&P=0&h=180" alt="Produktbild 2">
        <div class="tile-name">Naturschiefer</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse2.mm.bing.net/th?id=OIP.KlMZs6E4VUx53Xhjkown7QHaFj&pid=Api&P=0&h=180" alt="Produktbild 3">
        <div class="tile-name">Faserzement-Schiefer</div>
      </a>
    </div>
  </div>
</div>

<div class="row flex-container">
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse4.mm.bing.net/th?id=OIP.AB8FrPaBI-GdrOsrtrRpigHaE8&pid=Api&P=0&h=180" alt="Produktbild 1">
        <div class="tile-name">Dachdeckungssysteme mit Schiefer</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse2.mm.bing.net/th?id=OIP.oEScALSbPt3dDQF9EzWaOwHaFX&pid=Api&P=0&h=180" alt="Produktbild 2">
        <div class="tile-name">Doppeldeckungs-Schieferdach</div>
      </a>
    </div>
  </div>
  <div class="dachdaemmung">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse2.mm.bing.net/th?id=OIP.ksEgjOPOqa4E-qfy-6mS-gHaE8&pid=Api&P=0&h=180" alt="Produktbild 3">
        <div class="tile-name">Biberschwanz-Schiefer</div>
      </a>
    </div>
  </div>
</div>


