
<div class="row flex-container">
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/braas-unterkategorien']">
        <img class="tile-image" src="assets/images/braas.jpg" alt="Produktbild 1">
        <div class="tile-name">Braas</div>
      </a>
    </div>
  </div>
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/firstziegel-artikel']">
        <img class="tile-image" src="assets/images/Koramic.jpg" alt="Produktbild 2">
        <div class="tile-name">Koramic</div>
      </a>
    </div>
  </div>
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="assets/images/röben.jpg" alt="Produktbild 3">
        <div class="tile-name">Röben</div>
      </a>
    </div>
  </div>
</div>

<div class="row flex-container">
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="assets/images/nelskamp.jpg" alt="Produktbild 1">
        <div class="tile-name">Nelskamp</div>
      </a>
    </div>
  </div>
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="assets/images/creaton.jpg" alt="Produktbild 2">
        <div class="tile-name">Creaton</div>
      </a>
    </div>
  </div>
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="assets/images/erlus.jpg" alt="Produktbild 3">
        <div class="tile-name">Erlus</div>
      </a>
    </div>
  </div>
</div>

<app-ortgangziegel-artikel></app-ortgangziegel-artikel>


