
<div class="row flex-container">
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/ortgangziegel-artikel']">
        <img class="tile-image" src="https://tse4.explicit.bing.net/th?id=OIP.74pi8T0p_IkPmnmfI1EVswHaFj&pid=Api&P=0&h=180" alt="Produktbild 1">
        <div class="tile-name">Ortgangziegel</div>
      </a>
    </div>
  </div>
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/firstziegel-artikel']">
        <img class="tile-image" src="https://tse3.explicit.bing.net/th?id=OIP.pmFbrd4jqqYLwsSJsNs6WQHaGS&pid=Api&P=0&h=180" alt="Produktbild 2">
        <div class="tile-name">Firstziegel</div>
      </a>
    </div>
  </div>
  <div class="ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse4.mm.bing.net/th?id=OIP.mr7TMvy253ng5EFjGk4sUQHaEK&pid=Api&P=0&h=180" alt="Produktbild 3">
        <div class="tile-name">Glasierte Dachziegel</div>
      </a>
    </div>
  </div>
</div>

<div class="row flex-container">
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse3.explicit.bing.net/th?id=OIP.JcBvyuqKRDx5yp_-udnsWgHaE7&pid=Api&P=0&h=180" alt="Produktbild 1">
        <div class="tile-name">Winkelziegel</div>
      </a>
    </div>
  </div>
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse4.explicit.bing.net/th?id=OIP.BHWxvBUH2UfqUWkDyr62DAHaE8&pid=Api&P=0&h=180" alt="Produktbild 2">
        <div class="tile-name">Dachpfannen</div>
      </a>
    </div>
  </div>
  <div class="unter_ziegel">
    <div class="tile" (click)="produktClicked()">
      <a class="tile-link" [routerLink]="['/dachdaemmung']">
        <img class="tile-image" src="https://tse2.explicit.bing.net/th?id=OIP.a5k1zjl_PVhZwkUuqrCTRAHaFL&pid=Api&P=0&h=180" alt="Produktbild 3">
        <div class="tile-name">Dachziegel für Flachdächer</div>
      </a>
    </div>
  </div>
</div>


